<div class="container" id="main_deck">
  <div class="row h-100">
    <div class="col-md-5 col-sm-12 mh-100" style="overflow-x:hidden">
      <div class="container">
        <div *ngFor="let card of cards" [class.selected]="card.name === selectedCardName" (click)="onSelect(card)"
          class="border border-secondary row deck_card">
          <div class="col-md-3">
            <img src="http://52.57.88.137/api/card_image/{{card.name}}" alt="{{card.name}}" class="img-thumbnail" />
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col ml-2 font-weight-bold">
                <span>{{card.name}}</span>
              </div>
            </div>
            <div class="row" style="position:absolute;bottom:0;right:0">
              <div class="col text-capitalize text-right mr-2">
                <span class="border" style="padding-right:2em;padding-left:2em;background-color:#b97b51;color:white">{{card.card_type}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-12">
      <app-card-info [card]="selectedCard"></app-card-info>
    </div>
  </div>
</div>
